.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  padding-top: calc(10px + 10vmin);
}

.gutter-row {
  max-width: 90vw;
  /* height: 60vh; */
  display: flex;
  justify-content: center;
}
